#two {
    background-color:#22201F;
    color: white;
}

// Font sizes
$font-size-xlarge: rem-calc(35);
$font-size-large: rem-calc(35);
$font-size-medium: rem-calc(20);
$font-size-normal: rem-calc(18);
$font-size-small: rem-calc(14);
$font-size-xsmall: rem-calc(12);
$default-letter-spacing: .08rem;
$default-border-radius: 8px;
$default-module-margin: rem-calc(30 0);
$lb-font: 'Heebo';

li:not(.home) a, p a {
    display:inline-block;
    &:active {
        transform: scale(0.98);
    }
    &:hover {
        filter: invert(25%);
    }
}

.lb a:active {
    display:inline-block;
    transform: scale(0.98);
}

#two {
    a {
        color:white;
    }
}
.h1 {
    font-size: rem-calc(42);
    font-family: $lb-font;
    line-height: 1;
    @include breakpoint(medium) {
        font-size: rem-calc(72);
    }
}

/* h6 {
    &:after {
        margin-top: rem-calc(10);
        content: "";
        display: block;
        width: rem-calc(55);
        border-bottom: solid black 1px;
    }
} */

#two {
    h6 {
        &:after {      
            border-bottom-color: white!important;
        }
    }
}

h3.section-title {
    text-align: center;
    font-size: $font-size-small;
    text-transform: uppercase;
    letter-spacing: $default-letter-spacing;
    color: $dark-gray;
    margin-bottom: rem-calc(30);
}

@mixin vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.full-width {
    width: 100%;
    &.white {
        background: $white;
    }
}