$button-letter-spacing : 0.05rem;

.button {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: $button-letter-spacing;
	line-height: 1.4;
	&.green {
		background: $green;
		&:hover {
			background: darken($green, 15%);
		}
	}
	&.orange {
		background: $orange;
		&:hover {
			background: darken($orange, 15%);
		}
	}
	&.blue {
		background: $primary-color;
		&:hover {
			background: darken($primary-color, 15%);
		}
	}
}

.sites-button {
  background: #FF6908;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
  border-radius: 3px;
  border: none;
}

.post-previous {
	.button {
		background: $primary-color;
	}
}