body {
    position: relative;
}

.module--hero {
    padding: rem-calc(60 0 90);
    height: 70vh;
    @include clearfix;
    background: url('../images/pattern-650.png') lighten($primary-color, 30%) no-repeat;
    background-position: top right;
    background-size: 1472px 650px;
    .marketing {
        @include vertical-align();
        @include grid-row();
        padding-left: rem-calc(30);
        .marketing-content {
            @include grid-column(12);
            @include breakpoint(medium) {
                @include grid-column(9);
            }
            @include breakpoint(large) {
                @include grid-column(8);
            }
            @include breakpoint(xlarge) {
                @include grid-column(7);
            }
        }
    }
    h1 {
        line-height: 1.2;
        @include breakpoint(medium) {}
        @include breakpoint(large) {}
    }
}

.module--promo {
    a {
        padding: rem-calc(20 0);
        display: block;
        width: 100%;
        text-align: center;
        color: $white;
        font-weight: 400;
        background: lighten($primary-color, 0%);
        transition: all 0.3s;
        &:hover {
            background: lighten($primary-color, 7%);
            transition: all 0.3s;
        }
    }
}

.module--text-and-graphic {
    @include grid-row();
    .content-wrap {
        @include grid-column(12);
        @include breakpoint(medium) {
            @include grid-column(1 of 2);
        }
        .content {
            padding: rem-calc(60 0);
             @include breakpoint(medium) {
                 @include vertical-align();
             }
            @include breakpoint(large) {
                padding: rem-calc(60 60 0 0);
            }
        }
    }
    .graphic {
        @include grid-column(12);
        @include breakpoint(medium) {
            @include grid-column(1 of 2);
        }
        @include breakpoint(large) {
            min-height: rem-calc(600);
        }
    }
}
