#single-post {
    @include grid-row();
    margin-top: 3rem;
    .single-post-wrap {
        @include breakpoint(small) {
            @include grid-column(12);
        }
        @include breakpoint(medium) {
            @include grid-column(11);
            @include grid-column-position(center);
        }
        @include breakpoint(large) {
            @include grid-column(9);
            @include grid-column-position(center);
        }
        nav {
            a {
                display: block;
                padding: rem-calc(20 0);
                font-size: $font-size-small;
            }
        }
    }
    .main-content {
        background: $white;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        figure.featured-image {
            margin: 0;
            img {
                width: 100%;
                height: auto;
                border-top-left-radius: 2px;
                border-top-right-radius: 2px;
            }
        }
        header {
            padding: rem-calc(25 20 0 20);
           .date {
                opacity: 0.6;
                font-size: 0.9rem;
                margin-bottom: rem-calc(5);
            }             
            @include breakpoint(medium) {
                padding: rem-calc(25 90 0 90);
            }
            .post-meta {
                @include grid-row();
                @include grid-row-nest();
                margin-bottom: rem-calc(15);
            }
            h1 {
                font-size: rem-calc(32);
            }
            .author {
                @include grid-column(1 of 2);
                figure {
                    width: rem-calc(54);
                    float: left;
                    margin: rem-calc(0 20 0 0);
                }
                .info {
                    padding-top: rem-calc(10);
                    .position {
                        display: block;
                        color: $medium-gray;
                    }
                }
            }
            .categories {
                @include grid-column(1 of 2);
                text-align: right;
                padding-top: rem-calc(10);
                ul {
                    display: inline-block;
                }
            }
        }
        .entry-content {
            .mashsb-container {
                padding-bottom: rem-calc(25);
            }               
            padding: rem-calc(0 20);
            @include breakpoint(medium) {
                padding: rem-calc(0 60);
            }
            @include breakpoint(large) {
                padding: rem-calc(0 90);
            }
            h2, h3, h4, h5, h6 {
                font-size: rem-calc(16);
                font-weight: 400;
                margin-bottom: rem-calc(20);
            }
            p {
                margin-bottom: rem-calc(30);
            }
            p + h2,
            p + h3,
            p + h4 {
                margin-top: rem-calc(70);
            }
        }
    }
}
