 body.single, body.archive, body.blog {
    background: white;
    color: black;
    padding-top: rem-calc(30);
    @include breakpoint(medium) {
        padding-top: rem-calc(120);
    }
    .container {
        @include grid-row();
        .blogpage, .page {
            @include grid-column(12);
            .blogroll {
                article {
                    margin-bottom: rem-calc(100);
                    @include breakpoint(medium) {
                        margin-bottom: rem-calc(50);
                    }
                }
                @include grid-column(12);
                @include breakpoint(medium) {
                    @include grid-column(8);
                }
                @include breakpoint(large) {
                    @include grid-col-pos(3);
                    @include grid-column(9);
                    padding-right: 10px!important;
                }
                .featured-image {
                    margin:rem-calc(-30) rem-calc(-30) rem-calc(40) rem-calc(-30);
                    @include breakpoint(medium) {
                        margin:0 0 rem-calc(40) 0;
                    }
                    img {
                        width:100%;
                    }
                }
                .entry-content {
                    @include breakpoint(large) {
                        @include grid-column-offset(1);
                        @include grid-column(10);
                        @include grid-column-end;
                        margin-bottom: rem-calc(75);
                    }
                }
                ul li {
                    font-weight: bold;
                    margin-bottom: rem-calc(10);
                    &:before {
                        display: inline-block;
                        content: '‣';
                        font-size: rem-calc(30);
                        line-height: rem-calc(18);
                        transform: translateY(rem-calc(5)) scaleX(0.5);
                        margin-right: rem-calc(10);
                    }
                }
                p {
                    a {
                        font-weight: 500;
                        text-decoration: underline;
                    }
                    padding: 0;
                    margin: 0 auto rem-calc(20) auto;
                }
                .gallery {
                    margin-top: rem-calc(40);
                    .gallery-item {
                        margin: 0 0 rem-calc(30) 0;
                        padding: 0px;
                        figcaption {
                            font-size: rem-calc(15);
                            font-weight: bold;
                            text-transform: uppercase;
                            margin-top: rem-calc(10);
                        }
                    }
                }
                time {
                    display: block;
                    font-size: rem-calc(12);
                    margin-bottom: rem-calc(30);
                }
                .byline {
                    display: none;
                }
            }
            .sidebar {
                @include grid-column-offset(0);
                @include grid-column(12);
                @include breakpoint(medium) {
                    @include grid-column(4);
                }
                @include breakpoint(large) {
                    padding-left: 0px!important;
                }
                @include breakpoint(large) {
                    @include grid-column(3);
                    @include grid-col-pos(-9);
                    @include grid-column-end;
                }
                margin-top: 0px;
                article:not(.widget_text) {
                    margin-bottom: rem-calc(40);
                    background-color: rgba(139,111,42,0.1);
                    padding: rem-calc(25) rem-calc(20) rem-calc(10) rem-calc(20);
                    ul {
                        margin: rem-calc(20) 0 0 0;
                        margin-left: 0px;
                        li {
                            list-style-type: none;
                            font-weight: 500;
                            font-size: rem-calc(16);
                            line-height: 1.3;
                            margin-bottom: rem-calc(20);
                            p {
                                font-size: rem-calc(14);
                                line-height: 1.3;
                                margin-bottom: 0px;
                            }
                            .post-date, .tweet-details {
                                margin: rem-calc(5) 0 0 0;
                                display: block;
                                font-size: rem-calc(10);
                                font-weight: 400;
                            }
                        }
                    }
                }
                &:not(.widget_twitter-timeline-profile)
                    h6 {
                        &:before {
                            content: url(../images/talk-black.svg);
                            position: relative;
                            display: inline-block;
                            width: rem-calc(23);
                            margin-right: rem-calc(10);
                            transform: translateY(rem-calc(4));
                        }
                    }
                .widget_text {
                    h6 {
                        &:after {
                            content: none;
                        }
                        margin-bottom: rem-calc(20);
                    }
                    .flex-video {
                        margin-bottom: rem-calc(-20);
                    }
                }
                .widget_twitter-timeline-profile {
                    position: relative;
                    h6 {
                        &:before {
                            content: url(../images/twitter-black.svg);
                            position: relative;
                            display: inline-block;
                            width: rem-calc(22);
                            margin-right: rem-calc(7);
                            transform: translateY(rem-calc(3));
                        }
                    }
                    .twitter-timeline-profile {
                        transform: translateX(rem-calc(-10));
                        margin-right: rem-calc(-10);
                        margin-right: rem-calc(-20);
                    }
                }
                .tweet-text {
                    a {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    &#two {
        position: relative;
        background-color: black!important;
        @include breakpoint(medium) {
            padding-top: rem-calc(0);
        }
        .background-container {
            position:absolute;
            width: 100vw;
            height: 100vh;
            background-color: black!important;
            background-repeat: no-repeat;
            background-size: cover;
            filter: blur(rem-calc(20));
            &.custom {
                background-size: cover;
            }
        }
        .body-container {
            position:relative;
            display: block;
            width: 100vw;
            height: 100%;
            @include breakpoint(small only) {
                margin-bottom: rem-calc(75);
            }
            @include breakpoint(medium) {
                padding-top: rem-calc(120);
            }
            .sidebar {
                article:not(.widget_twitter-timeline-profile) {
                    h6 {
                        &:before {
                            content: url(../images/talk-white.svg);
                        }
                    }
                }
                .widget_twitter-timeline-profile {
                    h6 {
                        &:before {
                            content: url(../images/twitter.svg);
                        }
                    }
                }
            }
        }
        color: white;
        .container .blogpage .sidebar article:not(.widget_text) {
            background-color: rgba(255,255,255,0.1);
        }
        .container .blogpage .sidebar .widget_latest_tweets_widget {
        .tweet-text {
            a {
                text-decoration: underline;
            }
        }
    }
    }
}
