.module--bullets {
    @include grid-row();
    .section-content {
        @include grid-column(12);
        margin: $default-module-margin;
        @include breakpoint (small only) {
            padding: 0;
        }
        .bullet {
            @inlcude grid-row;
            figure {
                @include grid-column(3 of 12);
                margin: rem-calc(5 0 0 0);
                img {
                    border-radius: 9999px;
                }
            }
            .content {
                @include grid-column(9 of 12);
                padding-bottom: rem-calc(50);
                @include breakpoint (small only) {
                    padding-right: 0;
                    p {
                    	font-size: $font-size-small;
                    }
                }
            }
        }
    }
}
