.module--clients {
    @include grid-row();
    .section-title {
    }
    .section-content {
        @include grid-column(12);
        margin: $default-module-margin;
    }
    .logo-wrap {
        @include clearfix;
    }
    .client {
        img {
            padding: 0 15%;
            // filter: brightness(0) invert(1);
        }
        &:last-of-type {
            @include breakpoint(medium down) {
                display: none; // remove last logotype on large
            }
        }
    }
    .button-wrap {
        @include grid-row();
        text-align: center;
        padding-top: rem-calc(20);
    }
}
