.module--colored-box {
    position: relative;
    z-index: 20;
    .section-content {
        @include grid-row();
    }
    .box {
        border-radius: $default-border-radius;
        margin: rem-calc(15 0);
        overflow: hidden;
        padding: rem-calc(22);
        position: relative;
        @include breakpoint(medium) {
            padding: rem-calc(40);
            padding-right: 40%;
        }
        &.buzzwords {
            @include breakpoint(small only) {
                padding-bottom: rem-calc(260);
            }
            .buzzword {
                background: $brown;
                width: rem-calc(300);
                height: rem-calc(300);
                border-radius: 9999px;
                padding: rem-calc(50);
                text-align: center;
                color: $white;
                position: absolute;
                right: -35px;
                bottom: -60px;
                h2 {
                    color: $yellow;
                }
                h3 {
                    font-size: $font-size-large;
                    line-height: 1.1;
                }
                p {
                    font-size: $font-size-xsmall;
                }
            }
        }
        &.boxes {
            @include breakpoint(small only) {
                // padding-bottom: rem-calc(320);
            }
            @include breakpoint(large) {
                padding-right: 30%;
            }
        }
        .box-content {
            @include grid-column(12 of 12);
            h2 {
                color: $white;
                text-transform: uppercase;
            }
            h3 {
                font-size: $font-size-medium;
                color: $white;
                @include breakpoint(large) {
                    font-size: $font-size-large;
                }
            }
            p {
                color: $white;
                img {
                    height: rem-calc(50);
                    width: auto;
                }
            }
        }
        figure {
            position: absolute;
            margin: 0;
            bottom: 0;
            right: 0;
            @include breakpoint(small only) {}
            @include breakpoint(medium) {
                top: 10px;
                right: 0;
            }
            @include breakpoint(large) {}
            img {
                @include breakpoint(medium only) {
                    max-width: rem-calc(300);
                }
            }
        }
        .button {
            margin-bottom: 0;
        }
    }
}

// .home {
//     #page > .module--colored-box:first-of-type {
//         .column {
//             &:nth-child(2) {
//                 @include breakpoint(large) {
//                     margin-top: 90px;
//                 }
//             }
//         }
//     }
// }
