.module--consultant-cards {
    @include grid-row;
    .section-content {
        margin: $default-module-margin;
    }
    .consultant-card {
        // background: $primary-color;
        padding: rem-calc(30 30 15 30);
        border-radius: $default-border-radius;
        border: 5px solid rgba(0,0,0,0.03);
        @include grid-row();
        margin-bottom: rem-calc(30);
        transition: border 0.5s;
        &:hover {
            transition: border 0.5s;
            border: 5px solid rgba(0,0,0,0.08);
        }
        header {
            text-align: center;
            margin-bottom: rem-calc(30);
            img {
                max-width: rem-calc(100);
            }
        }
        .content {
            font-weight: 400;
            // color: $white;
        }
    }
}
