.page-id-201 {
	section:not(.container) {
		&:nth-child(3) {
			border-top: 1px solid #982E2E;
			background: #000000;
			background-image: url(../images/imra-bg.jpg)!important;
			background-position: center;
	        figure {
		        img {
					max-height: rem-calc(300);
					@include breakpoint(small only) {
						transform: translateX(25%);
					}
		        	@include breakpoint(medium) {
			        	max-height: rem-calc(400);
			        }
		        	@include breakpoint(large) {
			        	max-height: rem-calc(540);
			        }
		        }
	        }
		}
		&:nth-child(4) {
			background-image: url(../images/dwennon-bg.jpg)!important;
			background-position: center;
	        figure {
		        img {
		        	@include breakpoint(large) {
			        	max-height: rem-calc(500);
			        }
		        }
	        }
			.container {
				.image {
					@include breakpoint(medium only) {
						transform: scale(1.4);
						transform-origin: bottom right;
					}
					@include breakpoint(large) {
						transform: scale(1);
						transform-origin: bottom right;
					}
				}
				div {
			        h2 {
			        	margin-top: rem-calc(50);
			        	@include breakpoint(large) {
			        		margin-top: rem-calc(100)!important;
			        	}
			        }
			        p:last-of-type {
			        	margin-bottom: rem-calc(25);
			        	@include breakpoint(medium) {
			        		margin-bottom: rem-calc(50)!important;
			        	}
			        	@include breakpoint(large) {
			        		margin-bottom: rem-calc(100)!important;
			        	}
			        }
			    }
			}
		}
		&:nth-child(5) {
			background-image: url(../images/wilona-bg.jpg)!important;
			background-position: center;
			.container {
				@include grid-row;
				@include breakpoint(medium) {
		        	display: flex;
		        }
				div {
					@include grid-column(12);
					&.image {
			        	@include breakpoint(medium) {
						position: relative;
						align-items: stretch;
				        }
					}
					@include breakpoint(medium only) {
			        	@include grid-column(6);
			        }
		        	@include breakpoint(large) {
		        		@include grid-column(6);
		        		@include grid-column-offset(0);
		        	}
			        &:first-of-type {
			        	@include breakpoint(large) {
			        		@include grid-column(5);
			        		@include grid-column-offset(1);
			        	}
			        }
			        &:last-of-type {
			        	@include breakpoint(large) {
			        	}
			        }
			        figure {
			        	left:0px;
				        img {
				        	@include breakpoint(medium) {
					        	max-height: rem-calc(330);
					        }
				        	@include breakpoint(large) {
					        	max-height: rem-calc(530);
					        }
				        }
			        }
			    }
			}
		}
		&:nth-child(6) {
			background-image: url(../images/combat-bg.jpg)!important;
			background-position: center;
			border-bottom: 1px solid #982E2E;
			.container {
				@include grid-row;
				@include breakpoint(medium) {
		        	display: flex;
		        }
				div {
					text-align: center;
					@include grid-column(12);
					@include breakpoint(medium only) {
			        	@include grid-column(10);
			        	@include grid-column-position(center);
			        }
		        	@include breakpoint(large) {
		        		@include grid-column(6);
		        		@include grid-column-position(center);
		        	}
			        figure {
			        	display:none;
			        	left:0px;
			        }
			        h2 {
			        	margin-top: rem-calc(100);
			        	@include breakpoint(large) {
			        		margin-top: rem-calc(150);
			        		font-size:: rem-calc(40);
			        	}
			        }
			        p:last-of-type {
			        	margin-bottom: rem-calc(50);
			        	@include breakpoint(medium) {
			        		margin-bottom: rem-calc(100);
			        	}
			        	@include breakpoint(large) {
			        		margin-bottom: rem-calc(150);
			        	}
			        }
			        &:last-of-type {
			        	display:none;
			        }
			    }
			}
		}
	}
	.module--intro {
		opacity: 0;
	}
	.module--content {
		opacity: 0;
		@include grid-column(12);
	}
}

.module--content {
	@include grid-column(11);
	@include breakpoint(medium) {
    	@include grid-column(12);
    }
	@include grid-column-position(center);
	-webkit-backdrop-filter: blur(10px);
	background-size: cover;
	background-position: center;
	.container {
		@include grid-row;
		@include breakpoint(medium) {
        	display: flex;
        }
		div {
			@include grid-column(12);
			&.image {
	        	@include breakpoint(medium) {
				position: relative;
				align-items: stretch;
		        }
			}
			@include breakpoint(medium only) {
	        	@include grid-column(6);
	        }
        	@include breakpoint(large) {
        		@include grid-column(5);
        		@include grid-column-offset(1);
        	}
	        &:first-of-type {
	        	@include breakpoint(large) {
	        		@include grid-column-offset(1);
	        	}
	        	&.switch {
		        	@include breakpoint(medium only) {
		        		@include grid-col-pos(6);
		        		@include grid-column(8);
		        		@include grid-column-offset(0);
		        		width: 100%!important;
		        	}
		        	@include breakpoint(large) {
		        		@include grid-column-offset(0);
		        		@include grid-column(6);
		        		@include grid-col-pos(5);
		        	}
		        }
	        }
	        &:last-of-type {
	        	@include breakpoint(medium only) {
	        		@include grid-column-end();
	        		div:not(.switch) {
		        		figure {
		        			right:10%;
		        		}
	        		}
	        	}
	        	@include breakpoint(large) {
	        	}
	        	&.switch {
		        	@include breakpoint(medium only) {
		        		@include grid-col-pos(-6);
		        		@include grid-column(7);
		        		width: 100%!important;
		        	}
		        	@include breakpoint(large) {
		        		@include grid-column-offset(0);
		        		@include grid-column(8);
		        		@include grid-col-pos(-7);
		        	}
		        }
	        }
	        text-align: left;
	        figure {
	        	margin: 0px;
	        	@include breakpoint(medium) {
		        	position: absolute;
		        	bottom: 0px;
		        }
		        img {
		        	@include breakpoint(medium only) {
			        	max-height: rem-calc(430);
			        }
		        	@include breakpoint(large) {
			        	max-height: rem-calc(640);
			        }
		        }
	        }
	        h2 {
	        	margin-bottom: rem-calc(25);
	        	margin-top: rem-calc(50);
	        	font-weight: normal;
	        	@include breakpoint(medium) {
	        		margin-top: rem-calc(75);
	        		font-size:: 4.5vw;
	        	}
	        	@include breakpoint(large) {
	        		margin-top: rem-calc(150);
	        		font-size:: rem-calc(40);
	        	}
	        }
	        a {
	        	font-weight: bold;
	        	display: inline-block;
	        	width: auto;
	        	border: rem-calc(2) solid black;
	        	margin-top: rem-calc(20);
	        	padding: rem-calc(14) rem-calc(50) rem-calc(12) rem-calc(50);
	        }
	        p {
	        	@include breakpoint(medium only) {
	        		font-size: rem-calc(16);
	        	}
	        }
	        p:last-of-type {
	        	margin-bottom: rem-calc(25);
	        	@include breakpoint(medium) {
	        		margin-bottom: rem-calc(75);
	        	}
	        	@include breakpoint(large) {
	        		margin-bottom: rem-calc(150);
	        	}
	        }
		}
	}
}