.orbit-previous,
.orbit-next {
    color: rgba(0, 0, 0, 0.15);
    font-size: $font-size-large;
    &:hover {
        color: rgba(0, 0, 0, 0.5);
    }
    @include breakpoint(small only) {
        display: none;
    }
}

.module--core-values {
    @include grid-row();
    .section-content {
        @include grid-column(12);
        margin: $default-module-margin;
        @include breakpoint(medium) {
            @include grid-column(10);
            @include grid-column-position(center);
        }
        .orbit-slide {
        	padding-bottom: rem-calc(15);
        	@include breakpoint(medium) {
            	padding-bottom: rem-calc(50);
        	}
        }
        .orbit-slide {
            text-align: center;
            margin-bottom: rem-calc(50);
            p {
                max-width: 80%;
                margin: 0 auto;
            }
            &:nth-child(1n+1) {
                h2 {
                    color: $green;
                }
            }
            &:nth-child(2n+1) {
                h2 {
                    color: $orange;
                }
            }
            &:nth-child(3n+1) {
                h2 {
                    color: $yellow;
                }
            }
            &:nth-child(4n+1) {
                h2 {
                    color: $primary-color;
                }
            }
        }
    }
}
