body#tinymce {
    height: auto; //Fix editor style bug
    max-width: $grid-row-width; //Give the editor a max-width
    padding: rem-calc(20) !important;
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: $font-size-small;
        font-weight: 700;
        margin-bottom: rem-calc(20);
    }
}

.entry-content,
body#tinymce {
    h2 {
        text-transform: uppercase;
    }
    h3 {
        font-size: $font-size-xsmall;
    }
    ul {
        margin-bottom: rem-calc(30);
        li {
            margin-bottom: rem-calc(20);
        }
    }
    p {
        font-size: $font-size-normal;
        margin-bottom: rem-calc(30);
    }
    p + h2,
    p + h3,
    p + h4 {
        margin-top: rem-calc(70);
    }
}
