#footer-container {
    display:none;
/*     max-width: 100%;
    width: 100%;
    margin: 0 auto;
    margin-top: rem-calc(50);
    margin-bottom: rem-calc(10);

    #footer {
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        font-size: rem-calc(13);
    } */
}
