.top-bar {
    height: rem-calc(50);
}

.home {
    svg {
        width: rem-calc(120);
        height: auto;
    }
}

.is-open {
    @include breakpoint(small only) {
        .home {
            path {
                fill: $white;
                transition: all 0.2s;
            }
        }
    }
}
