@keyframes animatedBackground {
    from {
        filter: blur(rem-calc(35));
    }

    to {
        filter: blur(rem-calc(20));
    }
}

@keyframes logoEnter {
    from {
    	opacity: 0;
        filter: blur(rem-calc(100));
    }

    to {
    	opacity: 1;
        filter: blur(rem-calc(0));
    }
}

.module--image {
	height: rem-calc(300);
	position: relative;
	overflow: hidden;
	    @include breakpoint(medium) {
	    	height: rem-calc(550);
	    }
	.background {
		position: absolute;
		width: 100%;
		height: 100%;
		height: rem-calc(400);
		filter: blur(rem-calc(40));
		opacity: 0.4;
		padding: rem-calc(-20);
		animation: animatedBackground 7s alternate linear infinite;
	    @include breakpoint(medium) {
	    	height: rem-calc(550);
	    	padding: rem-calc(-40);
	    }
	}
	.container {
		position: absolute;
		left: 50%; top: 50%;
		transform: translate(-50%,-50%);
		width: 90%;
		text-align: center;
		animation: logoEnter 2s ease-out;
	    @include breakpoint(medium) {
	    	width: auto;
	    	margin-top: rem-calc(45);
	    	text-align: center;
	    }
	    h1 {
	    	margin-top: rem-calc(15);
	    	text-transform: uppercase;
	    	font-size: 3vw;
	    	white-space: nowrap;
	    	letter-spacing: rem-calc(4);
		    @include breakpoint(medium) {
		    	letter-spacing: rem-calc(8);
		    	font-size: rem-calc(25);
		    	white-space: nowrap;
		    }
	    }
	}
}