.module--intro {
    // border-bottom: 1px solid black;
    .section-content {
    @include grid-column(12);
    @include breakpoint(medium) {
        @include grid-column(12);
    }
        h1 {
            @include grid-column(11);
            @include grid-column-position(center);
            margin-bottom: rem-calc(60);
            &:after {
                position: absolute;
                margin-top: rem-calc(25);
                left: 50%;
                transform: translateX(-50%);
                content: "";
                display: block;
                width: rem-calc(55);
                border-bottom: solid black 1px;
            }
        }
        p {
            font-size: rem-calc(19);
            line-height: 1.6;
            @include grid-column(12);
            @include grid-column-position(center);
            @include breakpoint(medium) {
                @include grid-column(10);
                @include grid-column-position(center);
            }
            @include breakpoint(large) {
                @include grid-column(7);
                @include grid-column-position(center);
            }
            @include breakpoint(xlarge) {
                @include grid-column(6);
                @include grid-column-position(center);
            }
            @include breakpoint(xxlarge) {
                @include grid-column(5);
                @include grid-column-position(center);
            }
        }
        text-align: center;
        margin-top: rem-calc(85);
        margin-bottom: rem-calc(85);
        @include breakpoint(small only) {
            margin-top: rem-calc(55);
            margin-bottom: rem-calc(55);
        }
    }
}

#one {
    .module--intro {
        @include grid-row();
        // border-bottom: 1px solid black;
        .section-content {
        @include grid-row(12);
        @include breakpoint(medium) {
            @include grid-column(12);
        }
            h1 {
                @include grid-column(11);
                @include grid-column-position(center);
                margin-bottom: rem-calc(60);
                &:after {
                    position: absolute;
                    margin-top: rem-calc(25);
                    left: 50%;
                    transform: translateX(-50%);
                    content: "";
                    display: block;
                    width: rem-calc(55);
                    border-bottom: solid black 1px;
                }
            }
            p {
                font-size: rem-calc(19);
                line-height: 1.6;
                @include grid-column(12);
                @include grid-column-position(center);
                @include breakpoint(medium) {
                    @include grid-column(10);
                    @include grid-column-position(center);
                }
                @include breakpoint(large) {
                    @include grid-column(8);
                    @include grid-column-position(center);
                }
                @include breakpoint(xlarge) {
                    @include grid-column(7);
                    @include grid-column-position(center);
                }
                @include breakpoint(xxlarge) {
                    @include grid-column(8);
                    @include grid-column-position(center);
                }
            }
            text-align: center;
            margin-top: rem-calc(85);
            margin-bottom: rem-calc(85);
            @include breakpoint(small only) {
                margin-top: rem-calc(55);
                margin-bottom: rem-calc(55);
            }
        }
    }
}
#two {
    .module--intro {
        .section-content {
            h1 {
                &:after {
                    border-bottom: solid white 1px;
                }
            }
        }
    }
}
