/* Mobile menu */


/* Tablet and desktop menu */
body.locked {
    overflow:hidden;
    width: 100vw;
}
body:not(.home) {
    @include breakpoint(small only) {
        margin-bottom: rem-calc(75);
    }
    overflow-x: hidden;
}



.site-header {
    transition: all 0.3s ease-out;
    width: 100vw;
    height: 100vh;
    z-index: 8888;
    position: fixed;
    bottom: calc(-100vh + 60px);
    left:0px;
    background: rgba(139,111,42,0.3);
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-top: rem-calc(12);
    -webkit-backdrop-filter: blur(30px);
    @include breakpoint(small only) {
         backdrop-filter: blur(40px);
    }
    &.open {
        transition: all 0.3s ease-out;
        bottom: 0px;
        padding-top: relc(120);
    }
    #nav-icon3 {
        position: fixed;
        left: rem-calc(5);
        bottom: rem-calc(7);
        @include breakpoint(medium) {
            display: none;
        }
    }
    #site-navigation {
        @include grid-row();
    }
    @include breakpoint(medium) {
        height: rem-calc(90);
        display: block;
        text-align: left;
        position:absolute;
        top:0px;
        left:0px;
        padding-top: 0px;
    }
    .top-bar-left, .top-bar-right {
        display: inline;
        .lb {
            float:right;
            padding-top: rem-calc(25);
            padding-right: rem-calc(30);
            svg {
                width: rem-calc(135);
            }
            @include breakpoint(small only) {
                position: fixed;
                right: rem-calc(11);
                bottom: rem-calc(5);
                padding: 0px;
                svg {
                    width: rem-calc(40);
                    height: rem-calc(40);
                }
            }
        }
    }
    ul {
        display: inline;
        &:not(#menu) {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        @include breakpoint(medium) {
            display: inline;
            position: relative;
            width: auto;
            transform: translate(0, 0);
            left: 0;
            top: 0;
            }
        }
        .home {
            margin-top: 0px;
            padding-bottom: 20px;
            @include breakpoint(medium) {
                margin: 0px;
                display: inline-block;
            }
            a {
                padding: 0px;
                margin: 0px;
                @include breakpoint(medium) {
                    padding-top: rem-calc(10);
                    height: rem-calc(60);
                }
                img {
                    height: rem-calc(35);
                    width: rem-calc(95);
                    transition: all 0.3s ease-out;
                    display: none;
                    margin: 0 auto;
                    &.open {
                        margin-top: rem-calc(100);
                        height: rem-calc(40);
                        width: rem-calc(107);
                        transition: all 0.3s ease-out;
                    }
                    @include breakpoint(medium) {
                        height: rem-calc(70);
                        width: rem-calc(150);
                        margin-right: rem-calc(20);
                        margin-left: rem-calc(20);
                    }
                }
            }
        }
        li {
            display: block;
            margin-top:rem-calc(20);
            margin-bottom:rem-calc(20);
            @include breakpoint(medium) {
                display:inline-block;
                margin:rem-calc(10) rem-calc(15) rem-calc(5) rem-calc(15);
            }
            &.current-menu-item {
                font-weight: bold;
                a {
                    color: #8B6F2A;
                }
            }
            &:not(.current-menu-item) {
                a {
                   color:black;
                   font-weight: 400;
                }
            }
            a {
                padding-left: 0px;
                padding-right: 0px;
                font-size: rem-calc(26);
                @include breakpoint(medium) {
                    font-size: rem-calc(16);
                    padding-top: rem-calc(10);
                    padding-bottom: rem-calc(5);
                }
            }
        }
    }
}


/* Basic styles for post navigation. Nicolas Gallagher's "Micro clearfix" https://css-tricks.com/snippets/css/clear-fix/ */

.post-navigation:before,
.post-navigation:after {
    content: "";
    display: table;
}

.post-navigation:after {
    clear: both;
}


/* Text meant only for screen readers. Addresses part of theme-check issue #840. https://github.com/Automattic/_s/blob/master/style.css */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

.nav-previous {
    float: left;
}

.nav-next {
    float: right;
}


/* Post nav for blog */

#post-nav {
    @include grid-row();
    padding-top: rem-calc(15);
    .pagination-centered {
        @include grid-column(6);
    }
    .post-previous {
        @include grid-column(6);
        text-align: right;
    }
}

.pagination {
    li {
        width: rem-calc(36);
        height: rem-calc(36);
        text-align: center;
        font-weight: normal;
        &.current {
            a {
                color: $white;
            }
        }
    }
}

body.admin-bar {
    .is-stuck {
        top: 32px !important; // Fix sticky nav position for logged in users
    }
}

#two {
    .site-header {
        background-color: black;
        background: rgba(0,0,0,0.40);
        @include breakpoint(small only) {
            background: rgba(0,0,0,0.20);
        }
        .lb {
            svg path {
                fill: white;
            }
        }
        ul {
            li:not(.home) {
                a  {
                    color: white;
                }
                &.current-menu-item {
                    //border-top: 1px solid white;
                    // border-bottom: 1px solid white;
                    font-weight: bold;
                    position: relative;
/*                     &:after {
                        @include breakpoint(medium) {
                            position:absolute;
                            left: 50%;
                            bottom: rem-calc(-10);
                            transform: translateX(-50%);
                            content: "";
                            width: 0;
                            height: 0;
                            font-size: 0px;
                            border-left: 7px solid transparent;
                            border-right: 7px solid transparent;
                            border-bottom: 5px solid white;
                        }
                    } */
                }
            }
            .home a img {
                display: block;
            }
        }
    }
}
#one {
    &.home {
        .site-header {
            @include breakpoint(medium) {
                background: rgba(255,255,255,0.8);
            }
        }
    }
}