.module--newsletter {
    margin-bottom: rem-calc(100);
    @include grid-column(12);
    .section-content {
        margin-top: rem-calc(-50);
        .newsletter {
            display: block;
            width: 100%;
        }
        .follow {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            flex-direction: row;
            justify-content: center;
            margin-bottom: rem-calc(40);
            .fb-follow, .twitter-follow, .yt-follow {
                display: inline-block;
                height: rem-calc(28)!important;
                margin: rem-calc(10);
            }
            .yt-follow {
                transform:scale(1.2);
                transform-origin: top left
            }
        }
        @include grid-column-position(center);
        text-align: center;
        .mc4wp-form-fields {
            @include grid-column(12);
            input#hidden {
                visibility: hidden;
                position:absolute;
                left: rem-calc(-10000);
            }
            input[type="submit"] {
                @include grid-column(4);
                height: rem-calc(50);
                border: rem-calc(2) solid white;
                background-color: white;
                color: black;
                font-weight: 600;
                border-radius: 0 rem-calc(15) rem-calc(15) 0;
            }
            input[type="email"] {
                @include grid-column(8);
                padding: rem-calc(10);
                font-size: rem-calc(18);
                background-color: transparent;
                border: rem-calc(2) solid white;
                border-radius: rem-calc(15) 0 0 rem-calc(15);
                color: white;
                height: rem-calc(50);
            }
        }
        @include breakpoint(medium) {
            @include grid-column(7);
            @include grid-column-position(center);
        }
        @include breakpoint(large) {
            @include grid-column(5);
            @include grid-column-position(center);
        }
        @include breakpoint(xlarge) {
            @include grid-column(5);
            @include grid-column-position(center);
        }
        @include breakpoint(xxlarge) {
            @include grid-column(4);
            @include grid-column-position(center);
        }
    }
}
