.module--one-column {
    @include grid-row();
    .section-content {
        h2 {
            margin-bottom: rem-calc(30);
        }
        @include grid-column(12);
        margin: $default-module-margin;
        @include breakpoint(medium) {
            @include grid-column(10);
            @include grid-column-position(center);
        }
        @include breakpoint(large) {
            @include grid-column(7);
            @include grid-column-position(center);
        }
    }
}
