.module--page-header {
    opacity: 0;
    background-color: black;
    text-align: center;
    margin-bottom: rem-calc(1);
    padding: rem-calc(0);
    // min-height: rem-calc(400);
    position: relative;
    z-index: 1;
    @include breakpoint(large) {}

}

.module--page-header {
    @include breakpoint(small only) {
        .flex-video {
            height: 65vh;
        }
    }
    .slideshow {
        position: absolute;
        left:0;
        top: 0;
        z-index: 500;
        height:100%;
        #container {
            height:100%;
        }
    }
    .bg {
        position: absolute;
        left:0;
        top: 0;
        z-index: 400;
        width: 100vw;
        height: 100%;
        background-size: cover;
        background-position: center;
    }
    .content {
        z-index: 1000;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        .intro {
            position: absolute;
            left: 0;
            opacity: 0;
            top: 27vh;
            width: 100%;
            text-align: center;
            @include breakpoint(medium) {
                top: 25vw;
            }
            h1 {
                color: $white;
                font-family: $lb-font;
                line-height: 1.2;
            }
            a {
                display: block;
                font-size: rem-calc(16);
                font-weight: bold;
                cursor: pointer;
                img {
                    width: 12vw;
                    max-width: rem-calc(75);
                }
                p {
                    margin-top: rem-calc(20);
                }
            }
        }
        .down {
            position:absolute;
            bottom: 7vw;
            left: 50%;
            width: 6vw;
            margin-left: -3vw;
            cursor: pointer;
            opacity: 0;
            @include breakpoint(medium) {
                width: 4vw;
                margin-left: -2vw;
            }
            @include breakpoint(large) {
                width: 3vw;
                margin-left: -1.5vw;
            }
            @include breakpoint(xlarge) {
                width: 2vw;
                margin-left: -1vw;
                bottom: 8.5vw;
            }
        }
    }
}
