body {
    .module--questions-and-answers {
        @include grid-row;
        header {
            @include grid-column(12);
            @include grid-column-position(center);
            @include breakpoint(small only) {
                padding: 0;
            }
            @include breakpoint(medium) {
                margin-top: rem-calc(110);
                @include grid-column(12);

            }
            @include breakpoint(large) {
                margin-top: rem-calc(120);
                @include grid-column(12);
            }
            figure {
                margin: 0px;
                img {
                    width: 100%;
                }
            }
        }
        .questions {
            h1 {
                padding: rem-calc(30) 0 rem-calc(15) 0;
                @include breakpoint(medium) {
                    padding: rem-calc(40) 0 rem-calc(30) 0;
                }
            }
            h4 {
                margin-bottom: rem-calc(15);
            }
            p:last-of-type {
                margin-bottom: rem-calc(30);
            }
            @include grid-column(11);
            @include grid-column-position(center);
            @include breakpoint(medium) {
                @include grid-column(10);
                @include grid-column-position(center);
            }
            @include breakpoint(large) {
                @include grid-column(8);
                @include grid-column-position(center);
            }
        }
    }
    &#two {
        position: relative;
        background-color: black!important;
        .background-container {
            position:absolute;
            width: 100vw;
            height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
            filter: blur(rem-calc(20));
            &.custom {
                background-size: cover;
            }
        }
        .body-container {
            .module--questions-and-answers {
                a {
                    text-decoration: underline;
                }
            }
            position:absolute;
            width: 100vw;
            height: 100vh;
        }
        color: white;
        .container .blogpage .sidebar article:not(.widget_text) {
            background-color: rgba(255,255,255,0.2);
        }
        .container .blogpage .sidebar .widget_latest_tweets_widget {
        .tweet-text {
            a {
                text-decoration: underline;
            }
        }
        &:before {
            content: url(../images/twitter.svg);
        }
    }
    }
}