.module--quote {
	@include grid-row();
	blockquote {
		@include grid-column(12);
		text-align: center;
		font-size: $font-size-large;
		position: relative;
		padding-top: rem-calc(50);
		margin: $default-module-margin;
		@include breakpoint(small only) {
			padding-left: rem-calc(30);
			padding-right: rem-calc(30);
		}
		@include breakpoint(medium) {
			@include grid-column(8);
			@include grid-column-position(center);
		}
		@include breakpoint(large) {
			@include grid-column(6);
			@include grid-column-position(center);
		}
		&:before {
			content: '“';
			font-size: rem-calc(72);
			color: $primary-color;
			position: absolute;
			top: -30px;
			font-family: $lb-font;
		}
		.byline {
			position: relative;
			display: inline-block;
			.avatar {
				position: absolute;
				top: 0;
				left: 0;
				img {
					width: rem-calc(100);
                	clip-path: circle(32px at center);
            	}
			}
			.info {
				text-align: left;
				font-size: $font-size-small;
				display: inline-block;
				padding: rem-calc(10 0 0 100);
				span {
					color: $medium-gray;
				}
			}
		}
	}
}