.module--recruitment {
	background: $green;
	@include grid-row();
    .section-content {
    	padding-top: rem-calc(20);
    	.gform_heading {
    		margin-left: auto;
    		margin-right: auto;
    		max-width: rem-calc(600);
    	}
    	@include grid-column(11);
    	@include grid-column-position(center);
        @include breakpoint(medium) {
            @include grid-column(12);
            @include grid-column-position(center);
        }       	
        @include breakpoint(large) {
            @include grid-column(8);
            @include grid-column-position(center);
        }      	
    	ul {
    		@include grid-row();
    		li {
    			@include grid-column(12);
    			display: inline-block;
		        @include breakpoint(medium) {
		            @include grid-column(6);
		        }    			
		        label {
		        	margin-left: rem-calc(10);
		        }
		        input, select {
		        	padding: rem-calc(12);
		        	height: auto;
		        	margin-bottom: rem-calc(5);
		        	border-radius: $default-border-radius;
		        	background: rgba(0, 0, 0, 0.1);
		        }
		        .ginput_container_select:after {
		        	content: "▾";
		        	color: white;
		        	position: absolute;
		        	transform: translate(-25px, 10px);
		        }
    		}
    	}
    }	
}