.module--ror {
  background-size: cover;
  margin: 0px!important;
    #container {
    }

    .container {
        .slideshow {
      position: absolute;
      left:0px;
      top:0px;
        	height:rem-calc(700);
            @include breakpoint(large) {
                height:rem-calc(500);
            }
        }
        .content {
          position: absolute;
          left:50%;
          top:0px;
          transform: translateX(-50%);
        	z-index: 1000;
        	width: 100vw;
        	height:rem-calc(475);
        	max-width: rem-calc(1280);
        	margin: 0 auto;
        	div {
        		color: white;
        		text-align: center;
            @include breakpoint(large) {
                text-align: left;
            }
        		float: left;
        		width: 100%;
        		padding: 50px 5% 0 5%;
   				@include breakpoint(large) {
   					width: 50%;
   					padding: 120px 5%;
   				}
   				&.image {
            figure {
              margin: 0px;
            }
   					img {

   					}
   				}
   				&.text {
   					background: rgba(0,0,0,0.0);
   					height: auto;
            @include breakpoint(medium) {
                height: 100%;
            }
   					p {
   						line-height: 1.6;
   					}
   				}
          a {
            color: white;
            h2 {
              padding-bottom: rem-calc(20);
            }
          }
	        a.ror_button {
	        	color: white;
	        	font-weight: bold;
	        	display: inline-block;
	        	width: auto;
	        	border: rem-calc(2) solid white;
	        	margin-top: rem-calc(20);
	        	padding: rem-calc(14) rem-calc(50) rem-calc(12) rem-calc(50);
            &:active {
                transform: scale(0.98);
            }
            &:hover {
                filter: invert(25%);
            }
	        }
        }
      }
    }

    background-color: black;
    text-align: center;
    margin-bottom: rem-calc(1);
    padding: rem-calc(0);
    // min-height: rem-calc(400);
    position: relative;
    z-index: 1;
    @include breakpoint(large) {}
    h1 {
        color: $white;
        font-family: $lb-font;
        line-height: 1.2;
        /* text-shadow: 4px 2px 0 rgba(0,0,0,0.1); */
    }
    .section-content {
        @include grid-row;
    }

}
