.module--team {
    @include grid-row();
    .section-content {
        margin: rem-calc(80) auto;
        h2 {
            @include grid-column(9);
            @include grid-column-position(center);
            margin-bottom: rem-calc(60);
            &:after {
                position: absolute;
                margin-top: rem-calc(25);
                left: 50%;
                transform: translateX(-50%);
                content: "";
                display: block;
                width: rem-calc(55);
                border-bottom: solid black 1px;
            }
        }
        text-align: center;
        margin-top: rem-calc(85);
        margin-bottom: rem-calc(85);
        @include breakpoint(small only) {
            margin-top: rem-calc(55);
            margin-bottom: rem-calc(55);
        }
    }
    .team-member-card {
        border-radius: $default-border-radius;
        color: black;
        margin-bottom: rem-calc(30);
        figure {
            position: relative;
            margin: 0;
            img {
                border-top-left-radius: $default-border-radius;
                border-top-right-radius: $default-border-radius;
            }
            .overlay {
                display: flex;
                justify-content: center;
                background: white;
                align-items: center;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                text-align: center;
                opacity: 0;
                transition: opacity 0.5s;
                &:hover {
                    opacity: 100;
                }
                p {
                    margin: 0 rem-calc(15);
                }
            }
        }
        .contact-information {
            padding: rem-calc(20);
            position: relative;
            font-size: rem-calc(15);
            font-weight: 400;
            h3 {
                font-size: rem-calc(16);
                text-transform: uppercase;
            }
            a {
                color: black;
            }
        }
    }
}
