.module--two-columns {
    @include grid-row();
    .left-column,
    .right-column {
        @include grid-column(12);
        @include breakpoint(medium) {
            padding: $default-module-margin;
            @include grid-column(6, 70px);
        }
        @include breakpoint(large) {
            @include grid-column(6, 130px);
            margin: $default-module-margin;
        }
    }
    .left-column {
        @include breakpoint(small only) {
            padding-top: rem-calc(15);
            margin-bottom: rem-calc(30);
        }
    }
    .right-column {
        padding-bottom: rem-calc(15);
    }
}
