.module--video {
    @include grid-row();
    .video-wrap {
        margin: $default-module-margin;
        @include grid-column(12);
        @include breakpoint(medium) {
            @include grid-column(10);
            @include grid-column-position(center);
        }
    }
}
