.module--work {
    @include grid-row;
    .section-content {
        margin: $default-module-margin;
        @include grid-column(12);
        .banner {
            @include grid-row;
            border-radius: $default-border-radius;
            padding: rem-calc(35);
            .content {
                @include grid-column(12);
                color: $white;
                font-family: $lb-font;
                @include breakpoint(small only) {
                	margin-bottom: rem-calc(30);
                }
                @include breakpoint(medium) {
                    @include grid-column(8);
                }
                @include breakpoint(large) {
                    @include grid-column(9);
                }
                p {
                    font-size: rem-calc(26);
                    @include breakpoint(medium) {
                        font-size: rem-calc(32);
                    }
                    line-height: 1.3;
                    margin: 0;
                }
            }
            .cta {
                @include grid-column(12);
                @include breakpoint(medium) {
                    @include grid-column(4);
                    text-align: center;
                }
                @include breakpoint(large) {
                    @include grid-column(3);
                }
                .button {
                    @include breakpoint(medium) {
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}
